<!-- start banner Area -->
<section class="banner-area relative" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">About Us</h1>
        <p class="text-white link-nav">
          <a href="/">Home </a>
          <span class="lnr lnr-arrow-right"></span>
          <a href="about-us"> About Us</a>
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- Start service Area -->
<section class="service-area section-gap" id="service">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 pb-40">
        <h1 class="text-center pb-20">Why Choose Us</h1>
        <p class="pt-2">
          At FutureForce Consultants Pvt. Ltd, we redefine the norm in the realm
          of HR solutions. Our team, a collective of adept HR professionals, is
          dedicated to pioneering Global Recruitment Services. Establishing
          robust connections with associates across Canada, United Kingdom and
          the Middle East, our approach is anything but conventional. We bring
          innovation to the forefront, boasting expertise in Global Recruitment,
          harnessing cutting-edge databases, employing advanced recruiting
          tools, and leveraging the power of social media for seamless and
          effective hiring.
        </p>
        <p class="pt-2">
          In addition, FutureForce Consultants Pvt. Ltd proudly collaborates
          with training and testing institutes/workshops specializing in civil,
          mechanical, electrical, and instrumentation fields, as well as
          craftsmen and technicians. We have meticulously arranged facilities to
          conduct interviews pan India, ensuring convenience for our clients.
        </p>
        <p class="pt-2">
          Our core principles guide us in every facet of our business:
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single-service">
          <h4>Dedication</h4>
          <p>
            Committed to delivering the best, tailored to meet our clients
            requirements.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-service">
          <h4>Efficiency</h4>
          <p>
            Responding to clients ASAP, ensuring prompt and
            streamlined service.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-service">
          <h4>Zeal</h4>
          <p>
            Infusing passion into our work to cultivate enduring relationships
            with our clients.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End service Area -->

<!-- Start feature Area -->
<section class="feature-area">
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-3 feat-img no-padding">
        <img class="img-fluid" src="assets/img/pages/f1.jpg" alt="" />
      </div>
      <div class="col-lg-3 no-padding feat-txt">
        <h1>Vision</h1>
        <p>
          Our aspiration is to emerge as a globally renowned HR service
          provider, setting new standards in the industry.
        </p>
      </div>
      <div class="col-lg-3 feat-img no-padding">
        <img class="img-fluid" src="assets/img/pages/f2.jpg" alt="" />
      </div>
      <div class="col-lg-3 no-padding feat-txt">
        <h1>Mission</h1>
        <p>
          Our commitment is to consistently deliver recruitment services,
          fostering enduring relationships built on trust and goodwill with both
          clients and employees.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End feature Area -->

<!-- Start testimonial Area -->
<section class="testimonial-area section-gap" id="review">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-60 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10">Testimonial from our Clients</h1>
          <p>Who are in extremely love with eco friendly system.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="active-review-carusel">
        <div class="single-review">
          <img src="img/r1.png" alt="" />
          <div class="title d-flex flex-row">
            <h4>lorem ipusm</h4>
            <div class="star">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
          </div>
          <p>
            Accessories Here you can find the best computer accessory for your
            laptop, monitor, printer, scanner, speaker. Here you can find the
            best computer accessory for your laptop, monitor, printer, scanner,
            speaker.
          </p>
        </div>
        <div class="single-review">
          <img src="img/r2.png" alt="" />
          <div class="title d-flex flex-row">
            <h4>lorem ipusm</h4>
            <div class="star">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
          </div>
          <p>
            Accessories Here you can find the best computer accessory for your
            laptop, monitor, printer, scanner, speaker. Here you can find the
            best computer accessory for your laptop, monitor, printer, scanner,
            speaker.
          </p>
        </div>
        <div class="single-review">
          <img src="img/r1.png" alt="" />
          <div class="title d-flex flex-row">
            <h4>lorem ipusm</h4>
            <div class="star">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
          </div>
          <p>
            Accessories Here you can find the best computer accessory for your
            laptop, monitor, printer, scanner, speaker. Here you can find the
            best computer accessory for your laptop, monitor, printer, scanner,
            speaker.
          </p>
        </div>
        <div class="single-review">
          <img src="img/r2.png" alt="" />
          <div class="title d-flex flex-row">
            <h4>lorem ipusm</h4>
            <div class="star">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
          </div>
          <p>
            Accessories Here you can find the best computer accessory for your
            laptop, monitor, printer, scanner, speaker. Here you can find the
            best computer accessory for your laptop, monitor, printer, scanner,
            speaker.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End testimonial Area -->
