<!-- start banner Area -->
<section class="banner-area relative bg1" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">Statutory Information</h1>
        <p class="text-white">
          <a href="/">Home </a>
          <span class="lnr lnr-arrow-right"></span>
          <a href="statutory-information">Statutory Information</a>
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- Start service Area -->
<section class="service-area section-gap" id="service">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 pb-40">
        <h1 class="text-center pb-20">Statutory Information</h1>
        <div class="progress-table-wrap">
          <div class="progress-table text-black">
            <div class="table-row">
              <div class="sl">1.</div>
              <div class="key">Information about Company</div>
              <div class="colon"></div>
              <div class="value"></div>
            </div>
            <div class="table-row">
              <div class="sl"></div>
              <div class="key">a) Name and Address</div>
              <div class="colon">:</div>
              <div class="value">
                Futureforce Consultants Private Limited 35/3775 (Previous no.:
                11/858/5), MAX ARCADE, VELLIYANOOR, THRISSUR – 680021,
                0487-2426663
              </div>
            </div>
            <div class="table-row">
              <div class="sl"></div>
              <div class="key">b) Registration No</div>
              <div class="colon">:</div>
              <div class="value">Cochin/Company/5950112/2024</div>
            </div>
            <div class="table-row">
              <div class="sl"></div>
              <div class="key">c) Valid Upto</div>
              <div class="colon">:</div>
              <div class="value">03 January 2029</div>
            </div>
            <div class="table-row">
              <div class="sl"></div>
              <div class="key">d) RA ID</div>
              <div class="colon">:</div>
              <div class="value">RA5950112</div>
            </div>
            <div class="table-row">
              <div class="sl"></div>
              <div class="key">e) Nature of Agency</div>
              <div class="colon">:</div>
              <div class="value">Private Limited Company</div>
            </div>
            <div class="table-row">
              <div class="sl"></div>
              <div class="key">f) Contact No</div>
              <div class="colon">:</div>
              <div class="value">+91-487-2426663</div>
            </div>
            <div class="table-row">
              <div class="sl"></div>
              <div class="key">g) Email Business</div>
              <div class="colon">:</div>
              <div class="value">alliance&#64;futureforceconsultants.com</div>
            </div>
            <div class="table-row">
              <div class="sl"></div>
              <div class="key">h) Email Jobs</div>
              <div class="colon">:</div>
              <div class="value">future&#64;futureforceconsultants.com</div>
            </div>
            <div class="table-row">
              <div class="sl">2.</div>
              <div class="key">Service Offered</div>
              <div class="colon">:</div>
              <div class="value">
                Overseas Recruitment for ECR and ECNR countries for Unskilled
                Workers, Skilled Workers Highly Skilled Professionals and Nurses
              </div>
            </div>
            <div class="table-row">
              <div class="sl">3.</div>
              <div class="key">Cost of Services</div>
              <div class="colon">:</div>
              <div class="value">
                As per the provisions of Emigration Rules, as amended from time
                to time.
              </div>
            </div>
            <div class="table-row">
              <div class="sl">4.</div>
              <div class="key">Mode of Payments of Service Charges</div>
              <div class="colon">:</div>
              <div class="value">
                Cheques/DD/Bank Transfers - NEFT, RTGS Direct Deposits in Bank
                whichever is convenient to candidates(Cash Transactions are not
                been accepted)
              </div>
            </div>
            <div class="table-row">
              <div class="sl">5.</div>
              <div class="key">Remedies for Redressal for grievances</div>
              <div class="colon">:</div>
              <div class="value">
                Candidates may visit the Grievances/Suggestions and fill up the
                information, We will get back ASAP.
              </div>
            </div>
            <div class="table-row">
              <div class="sl">6.</div>
              <div class="key">Contact Person</div>
              <div class="colon">:</div>
              <div class="value">Sandeep Balakrishnan</div>
            </div>
            <div class="table-row">
              <div class="sl"></div>
              <div class="key">Email ID</div>
              <div class="colon">:</div>
              <div class="value">alliance&#64;futureforceconsultants.com</div>
            </div>
            <div class="table-row">
              <div class="sl"></div>
              <div class="key">Contact No</div>
              <div class="colon">:</div>
              <div class="value">91-487-2426663</div>
            </div>
            <div class="table-row">
              <div class="sl">7.</div>
              <div class="key">Vacancies/Job Descriptions/Employers/</div>
              <div class="colon">:</div>
              <div class="value">
                Please visit Current Openings and fill up the relevant fields
                Contract Conditions etc
              </div>
            </div>
            <div class="table-row">
              <div class="sl">8.</div>
              <div class="key">Recruitment History</div>
              <div class="colon">:</div>
              <div class="value">
                We are a Newly setup Company with a very highly dedicated
                Sincere and experienced professionals
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End service Area -->
