<!-- start banner Area -->
<section class="banner-area relative bg8" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">Our Team</h1>
        <p class="text-white link-nav">
          <a href="/">Home </a>
          <span class="lnr lnr-arrow-right"></span>
          <a href="company-profile">Our Team</a>
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- Start editor Area -->
<section class="post-area section-gap">
  <div class="container">
    <div class="row justify-content-center d-flex">
      <div class="col-lg-12 post-list">
        <div class="single-post job-details">
          <h4 class="single-title text-center">Managing Director Message</h4>
          <p>
            Since the establishment of Future force Consultants Pvt.
            Ltd.(FFCPL), our journey has been marked by unwavering commitment
            and a rich history of delivering exceptional services. As the
            Managing Director, I take pride in reflecting on the milestones
            we've achieved and the solid foundation we've laid together.
          </p>
          <p>
            Our team of seasoned professionals, known for their expertise, has
            been instrumental in shaping the success of FFCPL. Their dedication
            ensures that we consistently present you with candidates who
            seamlessly align with your unique requirements.
          </p>
          <p>
            While our primary office is based in Kerala, our strategic tie-ups
            in key locations such as Delhi, Mumbai, Baroda, Vishakhapatnam, and
            Chennai have significantly expanded our reach. These collaborations
            are pivotal in facilitating recruitment, training, and interview
            processes. Our commitment to excellence remains steadfast, and these
            partnerships enhance our ability to provide seamless services across
            diverse regions.
          </p>
          <p>
            At Future Force, we understand the importance of local expertise,
            and our tie-ups empower us to offer you tailor-made solutions that
            address the specific nuances of each region.
          </p>
          <p>
            We look forward to serve you and achieving new milestones together.
          </p>
          <div class="text-right font-weight-bold">
            <p>Best Regards,</p>
            <p>
              Sandeep Balakrishnan, <br />
              Managing Director <br />
              Future Force Consultants Pvt. Ltd
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End editor Area -->

<!-- Start team Area -->
<section class="team-area" id="team">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-70 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10">Experienced Mentor Team</h1>
          <p>Who are in extremely love with eco friendly system.</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center d-flex align-items-center">
      <div class="row">
        <div class="col-lg-6 d-flex align-items-stretch mb-4">
          <div class="submit-left">
            <div class="row">
              <div class="col-lg-4">
                <div class="thumb">
                  <img class="img-fluid" src="assets/img/team/sandeep.jpg" alt="" />
                </div>
              </div>
              <div class="col-lg-8 text-left">
                <h4>Sandeep Balakrishnan</h4>
                <h6 class="mt-2 text-white">Manager Director</h6>
                <p>
                  Business Graduate having more than 23 years of experience.
                  Future Force, led by Mr. Sandeep Balakrishnan, the founder of
                  the Group, is backed by his 23 years of international trading
                  and business expertise. Actively engaged in the company's
                  affairs, Mr. Sandeep Balakrishnan serves as the guiding force
                  for the entire team.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 d-flex align-items-stretch mb-4">
          <div class="submit-right">
            <div class="row">
              <div class="col-lg-4">
                <div class="thumb">
                  <img class="img-fluid" src="assets/img/team/george.jpg" alt="" />
                </div>
              </div>
              <div class="col-lg-8 text-left">
                <h4>Roby Varghese</h4>
                <h6 class="mt-2 text-white">Recruitment Executive</h6>
                <p>
                  Roby, an experienced Sr HR Professional and TISS, Mumbai
                  alumnus with over 25 years in HR, Recruitment, and
                  Administration. He has international exposure and a track
                  record of managing diverse industries. Roby excels in talent
                  acquisition and has provided end-to-end recruitment services
                  to blue-chip clients in the Gulf region.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 d-flex align-items-stretch mb-4">
          <div class="submit-left">
            <div class="row">
              <div class="col-lg-4">
                <div class="thumb">
                  <img class="img-fluid" src="assets/img/team/binu.jpg" alt="" />
                </div>
              </div>
              <div class="col-lg-8 text-left">
                <h4>Binu K</h4>
                <h6 class="mt-2 text-white">
                  Business Development/Recruitment Executive
                </h6>
                <p>
                  Binu, with 19 years at FFCPL, led the successful growth of the
                  International recruitment domain, making the company a leading
                  Hospitality staff provider. Based in Mumbai, he oversees India
                  operations, focusing on training and recruiting for top hotels
                  and restaurants. Binu's dedication and interpersonal skills
                  have been key to FFCPL's success.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 d-flex align-items-stretch mb-4">
          <div class="submit-right">
            <div class="row">
              <div class="col-lg-4">
                <div class="thumb">
                  <img class="img-fluid" src="assets/img/team/shine.jpg" alt="" />
                </div>
              </div>
              <div class="col-lg-8 text-left">
                <h4>Shine K</h4>
                <h6 class="mt-2 text-white">Recruitment Executive</h6>
                <p>
                  Shine joined the FFCPL team in 2022 and oversees QSR
                  departments in the Middle East and the UK. Responsible for
                  client and candidate support, he ensures efficient recruitment
                  processes and the right placements.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End team Area -->
