<!-- start banner Area -->
<section class="banner-area relative" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">Terms And Conditions</h1>
        <p class="text-white">
          <a href="/">Home </a>
          <span class="lnr lnr-arrow-right"></span>
          <a href="terms-conditions">Terms And Conditions</a>
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- Start service Area -->
<section class="service-area section-gap" id="service">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 pb-40">
        <h1 class="text-center pb-20">Terms And Conditions</h1>
        <p class="pt-2">
          This page outlines the 'Terms and Conditions' governing the usage of
          www.futureforce.com. We urge you to carefully review these terms
          before using this website and the associated services. If you do not
          agree with the Terms and Conditions stated below, please refrain from
          using this website, as your continued use implies your acceptance of
          these terms. FutureForce Consultants Pvt. Ltd reserves the right to
          update or modify these terms at any time. We recommend checking this
          page periodically, as these terms are binding.
        </p>
        <p class="pt-2">
          The information presented on this website is provided solely for
          informative purposes and does not bind FutureForce Consultants Pvt.
          Ltd in any manner. While we strive for accuracy in the content on each
          page, we do not assume responsibility for any direct or implied losses
          or damages incurred by users due to the information provided herein.
        </p>
        <p class="pt-2">
          This website is compiled in good faith, but no explicit or implied
          representation or warranty is given regarding the completeness or
          accuracy of the information it contains. Job availability postings on
          this site are informational, not offers. The acceptance of a user's
          candidature is solely at the discretion of FutureForce Consultants
          Pvt. Ltd and is on a first-come, first-served basis. We or our clients
          reserve the right to reject any user's candidature without providing
          reasons. We advise users to verify information before taking any
          action through written communication to our Head Office, with
          acknowledgment.
        </p>
        <p class="pt-2">
          Your use of this site and its content is at your own risk. By
          accessing this website, you agree that FutureForce Consultants Pvt.
          Ltd will not be liable for any direct or indirect loss arising from
          the use of information and material contained on this website.
        </p>
        <p class="pt-2">
          The copyright of material on this website belongs to and remains
          solely with FutureForce Consultants Pvt. Ltd. You agree not to
          reproduce, duplicate, copy, sell, resell, or exploit any portion of
          the site for any purposes without our prior written consent. Your
          access to the site does not imply a license to reproduce or distribute
          this information, and any such act requires our consent in writing.
        </p>
        <p class="pt-2">
          We make reasonable efforts to keep our site available on a 24/7 basis,
          subject to necessary scheduled downtime for maintenance, unscheduled
          maintenance, and system outages. While we strive for uninterrupted
          access, we cannot guarantee that the site will be available at all
          times. We reserve the right to make changes to the site, materials,
          information, services, or prices at any time without notice. We assume
          no liability or responsibility for any delay, interruption, downtime,
          or changes.
        </p>
        <p class="pt-2">
          Although we make reasonable attempts to exclude viruses from the site,
          we cannot ensure that the site will be at all times free from viruses
          or other destructive software. Users are urged to take appropriate
          safeguards before downloading information from the site. We assume no
          responsibility for any damages to computer equipment, software, or
          other property resulting from the use of the site or downloading
          anything from the site.
        </p>
        <p class="pt-2">
          Any communication, data, or materials you transmit to FutureForce
          Consultants Pvt. Ltd through the site, by electronic mail or
          otherwise, including your CV, certificates, passport copies, personal
          IDs, or licenses, employment history details, or any questions,
          comments, suggestions, or ideas, will be treated as non-confidential
          and non-proprietary. By voluntarily submitting or posting such
          communications, data, or materials, you grant FutureForce Consultants
          Pvt. Ltd a non-exclusive, royalty-free, perpetual, irrevocable license
          to use, reproduce, forward to third parties, modify, adapt, publish,
          translate, create derivative works, and display such communications,
          data, or materials in any form, media, or technology. We assume no
          responsibility for any communications, data, or materials posted or
          submitted, or for their return. While we appreciate your feedback and
          ideas, we may not be able to acknowledge or answer every communication
          individually.
        </p>
        <p class="pt-2">
          This site or any third party may provide linkages to other World Wide
          Web sites or resources. FutureForce Consultants Pvt. Ltd has no
          control over such sites and resources. You acknowledge and agree that
          FutureForce Consultants Pvt. Ltd is not responsible for the
          availability of such external sites or resources and does not endorse
          or is responsible or liable for any content, advertising, products, or
          other material available from such sites or resources. You further
          acknowledge and agree that FutureForce Consultants Pvt. Ltd shall not
          be responsible or liable, directly or indirectly, for any damage or
          loss caused or alleged to be caused by or in connection with the use
          of or reliance on any such content, goods, or services available on or
          through any such linkages or resource.
        </p>
        <p class="pt-2">
          This site is the sole and exclusive property of FutureForce
          Consultants Pvt. Ltd. We retain all rights, title, and interest
          (including all copyright, trademark, patent, trade secrets, and all
          other intellectual property rights) in the site. The site is protected
          by copyright, trademark, patent, trade secrets, unfair competition,
          through the application of local laws, or international treaties.
        </p>
        <p class="pt-2">
          You agree to indemnify and hold FutureForce Consultants Pvt. Ltd and
          its subsidiaries, affiliates, partners, and employees harmless from
          any claim or demand made by any third party due to the content you
          submit, post, or transmit through the site, your use of the site, your
          connection to the site, your violation of the Terms and Conditions, or
          your violation of any rights of another user.
        </p>
        <p class="pt-2">
          Notwithstanding anything contained hereinabove or in the entire
          FutureForce Consultants Pvt. Ltd website, it is declared that
          FutureForce Consultants Pvt. Ltd does not accept any liability
          whatsoever, either direct or implied, arising out of its publishing of
          the material or information and its use by users of the website.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End service Area -->
