<!-- start banner Area -->
<section class="banner-area relative bg4" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">Services</h1>
        <p class="text-white link-nav">
          <a href="/">Home </a>
          <span class="lnr lnr-arrow-right"></span>
          <a href="services"> Services</a>
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- Start service Area -->
<section class="service-area section-gap" id="service">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 pb-20">
        <h1 class="text-center pb-20">Our Services</h1>
        <p class="pt-2">
          At FutureForce, our operational excellence extends to every facet of
          workforce management. From skillful recruitment to resource
          mobilization and efficient project coordination, we ensure a seamless
          process.
        </p>
        <p class="pt-2">
          Our approach is characterized by precision and dedication. Below is an
          overview of our comprehensive services:
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 pb-20">
        <ul class="unordered-list">
          <li>Acquiring Project Staff and Workers.</li>
          <li>Skill Trade Evaluation.</li>
          <li>Formalizing work contracts with chosen employees.</li>
          <li>Mobilizing Resources.</li>
          <li>Conducting job site and camp orientation for employees.</li>
          <li>Overseeing Camp facilities.</li>
          <li>Supervising Catering facilities.</li>
          <li>Directing Recreation facilities.</li>
          <li>Coordinating Transportation logistics.</li>
          <li>Administering Payroll.</li>
          <li>Facilitating Training coordination.</li>
          <li>Effecting Project resource transfers.</li>
          <li>Concluding Project resource demobilization.</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <p class="col-md-12 pt-2">
        Facilitating Work Visa Services for countries in the Middle East,
        including Dubai, Abu Dhabi, Saudi Arabia, Qatar, Kuwait, and the
        Sultanate of Oman.
      </p>
    </div>
  </div>
</section>
<!-- End service Area -->
