<!-- start banner Area -->
<section class="banner-area relative bg1" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">Grievances & Suggestions</h1>
        <p class="text-white link-nav">
          <a href="/">Home </a>
          <span class="lnr lnr-arrow-right"></span>
          <a href="post-grievance">Grievances & Suggestions</a>
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- Start resume-page Area -->
<section class="contact-page-area section-gap">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center pb-20">Grievances <br/>&<br/>Suggestions</h1>
        <form
          class="form-area"
          id="postGrievanceForm"
          [formGroup]="grievanceForm"
          (ngSubmit)="onClickSubmit(grievanceForm.value)"
          novalidate
          class="contact-form text-right"
        >
          <div class="row">
            <div class="col-lg-12 form-group">
              <input
                name="name"
                placeholder="Enter your full name *"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Enter your full name *'"
                class="single-input mb-20 form-control"
                formControlName="name"
                type="text"
              />
              <div
                *ngIf="
                  name?.invalid &&
                  (name?.dirty || name?.touched) &&
                  showFormErrors
                "
                class="mt-20 alert-msg text-left"
              >
                <span
                  *ngIf="name?.errors?.['required']"
                  class="error text-danger"
                >
                  Name is required.
                </span>
              </div>

              <textarea
                style="height: 120px"
                class="single-textarea mt-15 mb-20 form-control"
                name="address"
                placeholder="Address *"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Address *'"
                formControlName="address"
              ></textarea>
              <div
                *ngIf="
                  address?.invalid &&
                  (address?.dirty || address?.touched) &&
                  showFormErrors
                "
                class="mt-20 alert-msg text-left"
              >
                <span
                  *ngIf="address?.errors?.['required']"
                  class="error text-danger"
                >
                  Address is required.
                </span>
              </div>
              <input
                name="passportNo"
                placeholder="Passport No *"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Passport No *'"
                class="single-input mb-20 form-control"
                formControlName="passportNo"
                type="text"
              />
              <div
                *ngIf="
                  passportNo?.invalid &&
                  (passportNo?.dirty || passportNo?.touched) &&
                  showFormErrors
                "
                class="mt-20 alert-msg text-left"
              >
                <span
                  *ngIf="passportNo?.errors?.['required']"
                  class="error text-danger"
                >
                  Passport No is required.
                </span>
              </div>
              <input
                name="phone"
                placeholder="Enter phone number *"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Enter phone number *'"
                class="single-input mb-20 form-control"
                formControlName="phone"
                type="text"
              />
              <div
                *ngIf="phone?.invalid && (phone?.dirty || phone?.touched) && showFormErrors"
                class="mt-20 alert-msg text-left"
              >
                <span
                  *ngIf="phone?.errors?.['required']"
                  class="error text-danger"
                >
                  Phone is required.
                </span>
                <span
                  *ngIf="phone?.errors?.['pattern'] || phone?.errors?.['maxlength'] || phone?.errors?.['minlength']"
                  class="error text-danger"
                >
                  Invalid phone number
                </span>
              </div>
              <input
                name="email"
                placeholder="Enter email address *"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Enter email address *'"
                class="single-input mb-20 form-control"
                formControlName="email"
                type="email"
              />

              <div
                *ngIf="email?.invalid && (email?.dirty || email?.touched) && showFormErrors"
                class="mt-20 alert-msg text-left"
              >
                <span
                  *ngIf="email?.errors?.['required']"
                  class="error text-danger"
                >
                  Email is required.
                </span>
                <span
                  *ngIf="email?.errors?.['email']"
                  class="error text-danger"
                >
                  Invalid email.
                </span>
              </div>

              <textarea
                style="height: 200px"
                class="single-textarea mt-15 mb-20 form-control"
                name="grievance"
                placeholder="Please write your Grievances / Suggestions *"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Please write your Grievances / Suggestions *'"
                formControlName="grievance"
              ></textarea>
              <div
                *ngIf="
                  grievance?.invalid && (grievance?.dirty || grievance?.touched) && showFormErrors
                "
                class="mt-20 alert-msg text-left"
              >
                <span
                  *ngIf="grievance?.errors?.['required']"
                  class="error text-danger"
                >
                  Grievances / Suggestions is required.
                </span>
              </div>
              <div style="float: left;" *ngIf=loading>
                <p-progressSpinner animationDuration=".5s"></p-progressSpinner>
              </div>
              <button class="primary-btn mt-20 text-white" style="float: right">
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- End resume-page Area -->
