<footer class="footer-area section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-12">
        <div class="single-footer-widget text-uppercase">
          <h6>Quick links</h6>
          <ul class="footer-nav">
            <li><a href="company-profile">Company profile</a></li>
            <li><a href="post-resume">Post your resume</a></li>
            <li><a href="post-grievance">Grievances or suggestions</a></li>
            <li><a href="statutory-information">Statutory information</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="single-footer-widget newsletter">
          <h6>Whatsapp</h6>
          <p>You can trust us. we wont send a single spam.</p>
          <div class="row">
            <div class="col-lg-4 col-md-12 d-inline">
              <i class="fa fa-whatsapp fa-5x"></i>
            </div>
            <div class="col-lg-8 col-md-12 d-inline">
              <a
                href="https://wa.me/916282495633"
                target="_blank"
                class="primary-btn mt-3"
                >Message Us
                <span class="lnr lnr-arrow-right"></span>
              </a>
            </div>
          </div>
          <div class="info"></div>
        </div>
      </div>
      <div class="col-lg-3 col-md-12">
        <div class="single-footer-widget text-uppercase">
          <h6>Get in Touch</h6>
          <p>
            FUTUREFORECE CONSULTANTS Pvt Ltd
            <br />
            35/3775 (Old No. 11/858/5),
            <br />
            Max Arcade,Velliyanoor,
            <br />
            Thrissur, Kerala, India 680021
          </p>
          <p class="text-lowercase">
            <span class="lnr lnr-phone"></span> +91 487-2426663,+91 9747361663
            <span class="lnr lnr-envelope"></span> futureforcepl&#64;gmail.com
          </p>
        </div>
      </div>
    </div>

    <div class="row footer-bottom d-flex justify-content-between">
      <p class="col-lg-8 col-sm-12 footer-text m-0 text-white">
        <a href="terms-conditions">Terms and conditions</a>
        <br />
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;
        <script>
          document.write(new Date().getFullYear());
        </script>
        All rights reserved | This site is made with
        <i class="fa fa-heart-o" aria-hidden="true"></i> by
        <a href="https://www.creative-castle.com" target="_blank"
          >creative castle</a
        >
      </p>
      <div class="col-lg-4 col-sm-12 footer-social">
        <a class="mx-1" href="#"><i class="fa fa-facebook"></i></a>
        <a class="mx-1" href="#"><i class="fa fa-twitter"></i></a>
        <a class="mx-1" href="#"><i class="fa fa-linkedin"></i></a>
        <a class="mx-1" href="#"><i class="fa fa-youtube"></i></a>
      </div>
    </div>
  </div>
</footer>
